@import "variables&functions";



.main{
    z-index: 1001;
    background-color: rgba(0,0,0,0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

   .modal{
    border-radius: 1em;
    @include absolutecenter;
    opacity: 1 !important;
    background-color: white;
    width: 35em;
    height: 12em;
    @include flexCenter(column);
    & > *{
    width: 100%;
  
    }
    div{
        height: 80%;
    }
    span{
       
        height: 20%;
    }
    button{
        width: 50%;
        height: 100%;
        border: none;
        transform: translateY(0.1em);
        color: white;
        transition: all 500ms;
        &:nth-child(1){
            border-radius: 0 0 0 1em;
            background-color: rgb(56,56,56);
        }
        &:nth-child(2){
            border-radius: 0 0 1em 0;
            background-color: rgb(14,97,254);
        }
        &:hover{
         opacity: 0.5;
        }
    }

    form{
        @include flexCenter(row);
        height: 30%;
        span{
            height: fit-content;
            text-align: center;
            margin: 2em;
            margin-top: 7em;
            input{
                text-align: center;    
                @include input;
            }
        }
    }
    p{
        margin-top: 7em;
        display: none;
       font-size: 0.6em;
       text-align: center;
      
    }
} 
}



@media all and (max-width: 550px) {
    .main{
    .modal{
        font-size: 2.5vw;
    }
    }
    
   }