@import "variables&functions";


.main{
    color: white;
    background-color: rgba(black, 0.7);
    position: fixed;
    top: 0;
    width: 100vw;
    @include flexCenter(column);
    z-index: 1000;

    button{
        @include button;
        padding: 0.8em;
        margin-top: 1em;
        font-size: 0.7em;
        &:first-of-type{
            margin-right: 6em;
        }
    }
    .orange{
        color: $orange;
      }
}