$g1: rgb(98, 0, 234);
$g2: rgb(236, 64, 122);


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.mainwrapper{
  overflow: hidden;
}

.main{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;


#tile{

height: 100%;
width: 100vw;
display: grid;
.tiles{
  position: relative;
  &:before{
    background-color:rgb(20,20,20) ;
    content: "";
    position: absolute;
    inset: 0.5px;
  }
}
}
}