@import "variables&functions";

.main{
    @include flexCenter(row);
    font-size: 1vw;
    width: 70%;
    display: grid;
    margin: 0 auto;
    padding-left: 2.4em;
    text-align: start;
    grid-template-columns:  repeat(4, 3fr) 1fr 1fr 1fr;
    column-gap: 1em;
    :nth-child(1){
        border-left:  0.1em solid black;
    }
    *{
        padding: 0 1em;
        border-right: 0.1em solid black;
    }
}