@import "variables&functions";

.main{
    @include flexCenter(row);
    font-size: 1vw;
    width: 80%;
    display: grid;
    margin: 0 auto;
    text-align: center;
    grid-template-columns:  repeat(5, 1fr) 0.66fr 0.66fr 0.66fr;
    column-gap: 1em;
    
    :nth-child(1){
        border-left:  0.1em solid $blue;
        border-right: 0.1em solid $blue;
    }
     :not(button){
        border-right: 0.15em solid $blue;
    }

    button{
        @include button
    }

    .markform{
        height: inherit;
        *{
            border: none;
        }

        input{
            width: 50%
        }
        @include flexCustom(space-around, center, row);
    }
}